.MacrosTable {
    padding: 1rem;
}

@media all and (min-width:100px) and (max-width: 420px) {
    .MacrosTable {
      padding: 0;
    }
}

@media all and (max-width: 454px) {
  .MacrosTable Th {
    writing-mode: vertical-rl;
  }
}

@media all and (max-width: 318px) {
  .MacrosName {
    writing-mode: vertical-rl;
  }
}